.intro__text {
  max-width: 690px;
  color: #fff;
  font-size: 16px;
  line-height: 1.625;
  padding: 40px 0 33px;
  margin: 0;
}

@media  screen and (max-width: 1279px) {
  .intro__text {
    min-width: 690px;
  }
}

@media  screen and (max-width: 1023px) {
  .intro__text {
    min-width: 720px;
  }
}

@media  screen and (max-width: 767px) {
  .intro__text {
    min-width: 288px;
  }
}