.cover {
  width: 92.5%;
  margin: 0 auto 92px;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 740px;
}

@media  screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media  screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;
    min-height: 468px;
  }
}

@media  screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
    min-height: 200px;
  }
}



