.cover__image {
  position: absolute;
  max-width: 1184px;
  min-height: 740px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  box-sizing : border-box;
  object-fit: contain;
}

@media  screen and (max-width: 1279px) {
  .cover__image {
    min-height: 640px;
    max-width: 1024px;
  }
}

@media  screen and (max-width: 1023px) {
  .cover__image {
    min-height: 480px;
    max-width: 768px;
  }
}

@media  screen and (max-width: 767px) {
  .cover__image {
    min-height: 200px;
    max-width: 320px;
  }
}