.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media  screen and (max-width: 1279px) {
  .footer {
    width: 91%;
  }
}

@media  screen and (max-width: 1023px) {
  .footer {
    width: 93.75%;
  }
}

@media  screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 32px);
    align-items: start;
    flex-direction: column;
  }
}